<div class="parties-wrapper small-12 medium-8 medium-offset-2 columns end">
	<form id="parties-form" class="parties" accept-charset="UTF-8"  action="//formspree.io/parties@restauranteve.com" method="POST">
		<h1>Private Dining Inquiry Form</h1>

		<input type="hidden" name="utf8" value="✓">
		<input type="hidden" name="_subject" value="New Private Dining Request!" />
		<input type="text" name="_gotcha" class="gotcha"/>
		
		<fieldset> <!-- start fieldset 1 -->
			<legend>Contact details</legend>
			<div class="field"> <!-- set row -->
				<div class="label-wrapper"> <!-- set columns -->
					<label>Name
						<input type="text" name="name" placeholder="John Smith" required>
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			     	<label>Email
						<input type="text" name="_replyto" placeholder="name@domain.com" required>
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			    	<label>Phone
						<input type="text" name="phone" placeholder="XXX-XXX-XXXX">
					</label>
				</div>
			</div>
		</fieldset> <!-- end fieldset 1 -->

		<fieldset> <!-- start fieldset 2 -->
			<legend>Event details</legend>
			<div class="field">
			    <div class="label-wrapper">
			     	<label>Date
						<input type="date" name="date" placeholder="Date" required pattern="date" data-format="dd/mm/yy">
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			    	<label>Start time
						<input type="time" name="start" placeholder="Start time" required pattern="time">
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			     	<label>End time
						<input type="time" name="end" placeholder="End time" required pattern="time">
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			     	<label>Type of event
						<input type="text" name="type" placeholder="Dinner" required>
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			     	<label>No.of guests
						<input type="text" name="guests" placeholder="15" required>
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			     	<label>Additional information
						<textarea type="text" name="additional" placeholder="None"></textarea>
					</label>
				</div>
			</div>
		</fieldset> <!-- end fieldset 2 -->


		<fieldset> <!-- start fieldset 3 -->
			<legend>How did you hear about us?</legend>
			<div class="field"> <!-- set row only so checkboxes span full-width -->
				<input type="checkbox" name="source[]" value="Search Engine" id="sourceSearchEngine"><label for="sourceSearchEngine">Search engine</label>
				<input type="checkbox" name="source[]" value="Word of mouth" id="sourceWordofMouth"><label for="sourceWordofMouth">Word of mouth</label>
				<input type="checkbox" name="source[]" value="Previous visit" id="sourcePreviousVisit"><label for="sourcePreviousVisit">Previous visit</label>
				<input type="checkbox" name="source[]" value="Advertisement" id="sourceAdvertisement"><label for="sourceAdvertisement">Advertisement</label>
				<input type="checkbox" name="source[]" value="Previous event" id="sourcePreviousEvent"><label for="sourcePreviousEvent">Previous event</label>
			</div>
		</fieldset> <!-- end fieldset 3 -->
		<div class="submit-wrapper">
	  		<button type="submit" value="send">Send</button>
	  	</div>
	</form>
	<!--<div class="row" id="thankyou_message" style="display:none;">
  		<div class="small-12 small-centered columns">
  			<div class="callout alert--loading" data-closable>
  				<h5>Your inquiry has been sent</h5>
  			</div>
  		</div>
  	</div>-->
</div>